/* General Styling */

html, body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--erdpl-background);
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

main {
    position: relative;
    top: 80px;
    z-index: 1;
    min-height: 100vh;
}

:root {
    --erdpl-background: #0d1518; /* Black background color */
    --erdpl-text-primary: #f9f3e5; /* White text color */
    --erdpl-text-secondary: #ef6f28; /* Orange text color */
    --erdpl-text-tertiary: #236770; /* Blue text color */
    --erdpl-text-quaternary: #144a54; /* Green text color */
    --erdpl-color-green: #8BC34A; 

    /* Lightened versions of primary colors */
    --erdpl-text-primary-light: #f2f0e7;
    --erdpl-text-secondary-light: #ffd19a;
    --erdpl-text-tertiary-light: #72b2c4;
    --erdpl-text-quaternary-light: #57a1af;

    /* Darkened versions of primary colors */
    --erdpl-text-primary-dark: #e6e2d9;
    --erdpl-text-secondary-dark: #d95f19;
    --erdpl-text-tertiary-dark: #194c52;
    --erdpl-text-quaternary-dark: #0d3239;

    /* Accent colors */
    --erdpl-color-accent-1: #f48fb1; /* Pink */
    --erdpl-color-accent-2: #6c757d; /* Gray */ 

    /* Background variations */
    --erdpl-background-darker: #080c0d;
    --erdpl-background-lighter: #1a2225; 

    /* Additional Green Shades */
    --erdpl-green-light: #a8e063; 
    --erdpl-green-dark: #336530;
}

.hidden {
    display: none;
}












/* Navbar */

nav img {
    height: 70px;
}

header {
    background-color: var(--erdpl-background);
    color: var(--erdpl-text-primary);
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
}

header h2 {
    font-size: 2.2rem;
    margin-top: 15px;
    margin-left: 10px;
}

nav ul,
#user-links ul {
    display: flex;
    margin-right: 0px;
}

nav li,
#user-links li {
    background-color: var(--erdpl-background);
    margin-right: 0px;
    padding: 20px 10px 10px 10px;
    list-style: none;
    min-height: 80px;
    height: 100%;
    transition: ease-in-out 0.3s;
}

nav li:hover,
#user-links li:hover {
    background-color: var(--erdpl-text-quaternary);
    transition: ease-in-out 0.3s;
}

nav li a,
#user-links li a {
    text-decoration: none;
    color: var(--erdpl-text-primary);
    font-size: 1.2rem;
    padding: 10px;
}

.red-nav {
    background-color: rgb(112, 36, 1);
}

.red-nav:hover {
    background-color: rgb(179, 0, 0);
}

.left {
    border-bottom-left-radius: 15px;
}

.right {
    border-bottom-right-radius: 15px;
}

/* Mobile Nav */

#menu-toggle {
    display: none; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    scale: 1.2;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: white; 
}

#mobile-nav {
    display: none; 
    position: absolute;
    top: -100vh;
    width: 100%;
    position: fixed;
    transition: top 0.3s ease-in-out;
    right: 0;
    background-color: black; 
    width: 150px;
    text-align: center;
    border-bottom-left-radius: 25px;
}

#nav-edge {
    border-bottom-left-radius: 25px;
}

#mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 0;
}

#mobile-nav li {
    background-color: var(--erdpl-background);
    border-bottom: 1px solid var(--erdpl-text-secondary);
    border-left: 1px solid var(--erdpl-text-secondary);
    width: 100%;
}

#mobile-nav > ul > .no-border {
    border-bottom: none;
}

.mobile-active {
    border-bottom: 1px solid var(--erdpl-text-secondary);
}

.breaker span {
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: var(--erdpl-text-secondary);
}



















/* Main Content */

/* Home Page */

.home-banner {
    background-color: var(--erdpl-background);
    color: var(--erdpl-text-primary);
    padding: 150px 100px;
    text-align: left;
}


.home-banner > h1 > span,
.home-banner a > span {
    color: var(--erdpl-text-secondary);
}

.home-banner h1 {
    font-size: 4rem;
}

.home-banner p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.home-banner a {
    color: var(--erdpl-text-primary);
    transition: ease-in-out 0.3s;
    font-size: 1.5rem;
    background-color: var(--erdpl-text-quaternary);
    border-radius: 15px;
    border: 1px solid var(--erdpl-text-tertiary);
    padding: 10px;
    text-decoration: none;
}


.home-banner a:hover {
    background-color: var(--erdpl-text-tertiary);
    border: 1px solid var(--erdpl-text-quaternary);
    color: var(--erdpl-text-secondary);
    transition: ease-in-out 0.3s;
}

/* Results Tables */

.latest-results {
    text-align: center;
    background-color: var(--erdpl-text-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-results h1 {
    background-color: var(--erdpl-text-quaternary);
    color: var(--erdpl-text-primary);
    padding: 50px;
    width: 100%;
    font-size: 4rem;
    margin-bottom: 50px;
}

.latest-results > table {
    margin-bottom: 50px;
    background-color: var(--erdpl-background);
    border-radius: 25px;
    padding: 10px;
}

/* Creates borders on the tables automatically */

.latest-results > table > tbody > tr:first-child > td:first-child {
    border-top-left-radius: 15px;
}

.latest-results > table > tbody > tr:first-child > td:last-child {
    border-top-right-radius: 15px;
}

.latest-results > table > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 15px;
}

.latest-results > table > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 15px;
}

.latest-results > table > thead > tr > th,
.latest-results > table > tbody > tr > td {
    padding: 5px 20px;
    background-color: var(--erdpl-text-primary);
}

.latest-results > table > thead > tr > th {
    background-color: var(--erdpl-background);
    color: var(--erdpl-text-primary);
}













/* Footer */

footer {
    background-color: var(--erdpl-background);
    color: var(--erdpl-text-primary);
    padding: 20px 0;
    text-align: center;
    position: relative; 
    top: 100%;
    width: 100%; 
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.social-media li {
    display: inline-block;
    margin: 0 10px;
    background-color: var(--erdpl-text-quaternary);
    padding: 10px 15px;
    border-radius: 15px;
    transition: ease-in-out 0.3s;
}

.social-media li:hover {
    background-color: var(--erdpl-text-tertiary);
    transition: ease-in-out 0.3s;
}

.social-media a {
    color: var(--erdpl-text-primary);
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.social-media a:hover {
    color: var(--erdpl-text-secondary);
    transition: ease-in-out 0.3s;
}

.social-media i {
    font-size: 20px;
}
























/* Profile Pages */

.profile-container,
.edit-profile-container > form {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: var(--erdpl-color-green);
    box-shadow: -1px -1px 9px 2px black;
    z-index: 1;
    margin: 50px 50px 0px 50px;
    padding: 20px;
    border-radius: 25px;
    min-width: 80%;
}

.profile-banner,
.edit-profile-banner {
    background-color: rgba(0,0,0,0.7);
    padding: 25px;
    color: white;
    border-radius: 15px;
    width: 40%;
    margin-right: 25px;
}

.profile-info,
.edit-profile-info {
    text-align: center;
    background-color: var(--erdpl-text-primary);
    padding: 25px;
    border-radius: 15px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--erdpl-background);
}

.profile-banner img,
.edit-profile-banner img {
    border-radius: 50%;
    margin: 25px 0;
    height: 250px;
    width: 250px;
}

.profile-banner > a {
    text-decoration: none;
    color: var(--erdpl-text-primary);
    background-color: var(--erdpl-text-tertiary);
    border-radius: 8px;
    border: 1px solid var(--erdpl-text-primary);
    padding: 8px;
    font-size: 1.2rem;
    transition: 0.2s ease-in-out;
}

.profile-banner > a:hover {
    background-color: var(--erdpl-text-secondary);
    color: var(--erdpl-text-primary);
    transition: 0.2s ease-in-out;
}

.profile-banner h2 {
    background-color: var(--erdpl-background);
    color: var(--erdpl-text-primary);
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    font-size: 2.5rem;
    text-shadow: 1px 0px 5px darkred;
}

.edit-profile-container > form > .edit-profile-banner > h1 {
    background-color: var(--erdpl-background);
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
}



/* Logins & Registrations */


.form-container {
    background-color: var(--erdpl-text-primary);
    padding: 25px; 
    border-radius: 15px; 
    margin: 20px;
}

.outer {
    background-color: var(--erdpl-color-green);
    border-radius: 25px;
    margin: 50px;
    width: 80%;
}

.form-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container > form > div {
    text-align: right;
    margin-top: 10px;
    background-color: var(--erdpl-text-tertiary);
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgb(175, 175, 175);
    color: var(--erdpl-text-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container > h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.title-primary {
    background-color: var(--erdpl-text-quaternary-dark);
    color: var(--erdpl-text-primary);
    border-radius: 10px;
    padding: 10px 0;
}

/* CREATE TEAM FORM */

#edit-team-image {
    width: 250px;
    height: 250px;
}

#create-team-form {
    margin-top: 25px;
}

#create-team-form > p:nth-child(2) {
    background-color: var(--erdpl-text-tertiary);
    width: 100%;
    padding: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}

#create-team-form > p:nth-child(2) > label,
#create-team-form > p:nth-child(3) > label,
#create-team-form > p:nth-child(4) > label {
    color: white;
    padding: 5px;
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: bolder;
}

#create-team-form > p:nth-child(2) > input,
#create-team-form > p:nth-child(3) > input,
#create-team-form > p:nth-child(4) > textarea {
    border-radius: 3px;
    position: relative;
    right: 0;
    bottom: 2px;
    padding: 3px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--erdpl-background);
    width: 100%;
    margin-top: 10px;
}


#create-team-form > p:nth-child(6),
#create-team-form > p:nth-child(3) {
    background-color: var(--erdpl-text-quaternary-light);
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--erdpl-text-primary);
}

#create-team-form > p:nth-child(4) {
    margin: 20px 0;
    padding: 25px;
    background-color: var(--erdpl-text-quaternary-light);
    color: var(--erdpl-background);
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

#create-team-form > p:nth-child(6) > input {
    scale: 1.5;
    margin-left: 10px;
}

#team-form-error-message {
    background-color: var(--erdpl-text-secondary-dark);
    color: var(--erdpl-text-primary);
    text-align: center;
    padding: 10px ;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

#team-submit-button {
    width: 60%;
}

#create-team-form > p,
#create-team-form > div > label {
    font-size: 1.2rem;
}

#create-team-form > div > select {
    margin-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

.form-container > form > button {
    margin-top: 25px;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: rgb(240, 240, 240);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.edit-profile-container > form > .edit-profile-info > button {
    margin-top: 25px;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: rgb(240, 240, 240);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.edit-profile-container > form > .edit-profile-info > button:hover {
    background-color: var(--erdpl-text-secondary);
    transition: 0.3s ease-in-out;
}

#id_profile_picture {
    border: none;
}

.form-submit:hover {
    background-color: var(--erdpl-text-secondary);
    transition: 0.3s ease-in-out;
}

.form-container > form > div > input,
.edit-profile-container > form > .edit-profile-info > input,
.edit-profile-container > form > .edit-profile-banner > input,
.edit-profile-container > form > .edit-profile-info > textarea {
    padding: 5px 0px;
    border-radius: 5px;
    max-width: 250px;
    width: 100%;
    border: 2px solid black;
}

.form-container > form > div > label,
.edit-profile-container > form > .edit-profile-banner > label,
.edit-profile-container > form > .edit-profile-info > label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
}

.form-container > form > ul > li {
    width: 300px;
    list-style: none;
    background-color: var(--erdpl-text-secondary);
    color: var(--erdpl-text-primary);
    border-radius: 5px;
    padding: 5px;
    border: 2px solid darkred;
}

.helptext {
    margin: 10px;
    background-color: blue;
    color: var(--erdpl-text-primary);
    border: 1px solid rgb(0, 191, 255);
    padding: 8px;
    border-radius: 8px;
}

#id_password1_helptext {
    padding-left: 25px;
    text-align: left;
}

#login-outer {
    min-width: 400px;
}

#login-center,
.profile-center {
    height: 120vh;
}

.profile-teams-buttons {
    background-color: var(--erdpl-text-secondary-dark);
    padding: 20px 100px;
    width: 70%;
    display: flex;
    justify-content: center;
    border-left: 3px solid var(--erdpl-text-secondary);
    border-right: 3px solid var(--erdpl-text-secondary);
    border-bottom: 3px solid var(--erdpl-text-secondary);
}

.profile-teams-buttons > a {
    background-color: var(--erdpl-text-secondary);
    text-decoration: none;
    color: var(--erdpl-text-primary);
    border: 3px solid var(--erdpl-text-primary);
    padding: 25px;
    margin: 0px 25px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.profile-teams-buttons > a:hover {
    background-color: darkred;
    transition: 0.3s ease-in-out;
}

/* Team profiles */

#team-container {
    background-color: var(--erdpl-color-green);
    box-shadow: -1px -1px 9px 2px black;
    z-index: 1;
}

.team-profile-image {
    border: 1px solid var(--erdpl-text-primary);
    border-radius: 50%;
    max-height: 100px;
}

#profile-team-container {
    padding: 20px 0;
}

.team-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 20px 0;
}

.team-inner > a {
    max-height: 115px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--erdpl-text-primary);
    background-color: var(--erdpl-text-quaternary);
    padding: 25px;
    border-radius: 10px;
    margin: 15px;
    transition: 0.3s ease-in-out;
    width: 70%;
}

.team-inner > a:hover {
    background-color: var(--erdpl-text-tertiary);
    transition: 0.3s ease-in-out;
}

.team-inner > strong {
    color: var(--erdpl-text-primary);
    background-color: var(--erdpl-background);
    padding: 30px 0;
    margin-left: 15px;
    border-radius: 10px;
    text-shadow: 1px 1px 2px lightgreen;
    text-transform: uppercase;
    font-size: 3rem;
    width: 30%;
    text-align: center;
}

.team-inner > a > span {
    margin-left: 15px;
    font-size: 2rem;
}

.team-inner {
    background-color: var(--erdpl-color-green);
    border-radius: 10px;
}

#leave-button {
    position: absolute;
    width: 40%;
}

#leave-button > a {
    position: relative;
    top: 198px;
    left: 100%;
    background-color: var(--erdpl-text-secondary);
    color: var(--erdpl-text-primary);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid darkred;
    border-right: 1px solid darkred;
    border-left: 1px solid darkred;
    transition: 0.3s ease-in-out;
}

#leave-button > a:hover {
    transition: 0.3s ease-in-out;
    background-color: darkred;
}

#team-button {
    background-color: var(--erdpl-text-secondary);
    padding: 10px;
    position: relative;
    left: 30%;
    transition: 0.3s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid darkred;
    border-right: 1px solid darkred;
    border-left: 1px solid darkred;
}

#team-button > a {
    text-decoration: none;
    color: var(--erdpl-text-primary);
}

#team-button:hover {
    transition: 0.3s ease-in-out;
    background-color: darkred;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

#team-button-2 {
    background-color: rgb(0, 157, 255);
    text-transform: uppercase;
    padding: 10px;
    position: relative;
    left: 30%;
    transition: 0.3s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid darkred;
    border-right: 1px solid darkred;
    border-left: 1px solid darkred;
}

#team-button-2 > a {
    text-decoration: none;
    color: var(--erdpl-text-primary);
    border-radius: 5px;
}

#team-button-2:hover {
    transition: 0.3s ease-in-out;
    background-color: blue;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

#team-container > div.profile-info > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    text-align: left;
}

#team-container > div.profile-info > ul > li {
    list-style: none;
    background-color: var(--erdpl-text-quaternary);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

#team-container > .profile-info > ul > li > a {
    color: var(--erdpl-text-primary);
    text-decoration: none;
}

#team-container > div.profile-info > ul > li > a > img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

#team-container > div.profile-banner > img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    max-width: 250px;
}

#team-container > div.profile-info > ul > li > a > span {
    position: relative;
    bottom: 10px;
    left: 10px;
}

#team-container > div.profile-info > p,
#team-container > div.profile-banner > p {
    margin-top: 20px;
}

#team-container > div.profile-info > h3 {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 2rem;
}

#team-container > div.profile-banner > p > a {
    color: var(--erdpl-text-secondary);
    margin-left: 5px;
}

#team-container > div.profile-banner > p,
#team-container > div.profile-info > p {
    font-size: 1.2rem;
}


/* Fixtures & Scores */

.fixture-table {
    background-color: var(--erdpl-text-secondary);
    margin-top: 20px;
    width: 100%;
    border-radius: 15px;
    padding: 5px;
}

.fixture-table td {
    background-color: var(--erdpl-text-primary);
}

.fixture-table > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 10px;
}

.fixture-table > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 10px;
}

.fixture-head > tr > th {
    text-transform: uppercase;
}

.outer-2 {
    background-color: darkred;
    margin-top: 100px;
    text-align: center;
    padding: 25px;
    border-radius: 25px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 1px 1px black;
}

.outer-2 > h1 {
    text-transform: uppercase;
    color: var(--erdpl-text-primary);
}

.outer-2 > h2 {
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    background-color: var(--erdpl-text-secondary);
    padding: 5px;
    width: 100%;
    border-radius: 15px;
}

.team-fixtures {
    background-color: darkred;
    width: 80%;
    padding: 50px;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.team-fixtures > h1 {
    color: var(--erdpl-text-primary);
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}

body > main > div > div.team-fixtures > table > tbody > tr > td {
    text-align: center;
}

.form-container > .back {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bolder;
    border: 1px solid darkred;
    transition: 0.3s ease-in-out;
}

.form-container > .back:hover {
    background-color: darkred;
    color: white;
    border: 1px solid red;
    transition: 0.3s ease-in-out;
}

.m-top {
    margin-top: 20px;
}


#division-links {
    background-color: rgb(1, 197, 204);
    margin-top: 40px;
    box-shadow: 2px 2px 3px 1px black;
}

.division-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.division-nav > li {
    background-color: darkblue;
    padding: 20px 10px;
    min-width: 150px;
    list-style: none;
    border-radius: 25px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.division-nav > li:hover {
    background-color: blue;
    transition: 0.3s ease-in-out;
}

.division-nav > li > a {
    text-decoration: none;
    color: var(--erdpl-text-primary);
    font-weight: bolder;
}

.title-text {
    color: var(--erdpl-text-primary);
    font-size: 5rem;
    margin-top: 40px;
}

/* SCORES */

#scores-container {
    margin-top: 0;
    background-color: rgb(0, 92, 167);
}

body > main > div > div.add-score {
    margin-top: 100px;
    width: 40%;
    text-align: right;
}

body > main > div > div.add-score > a {
    background-color: rgb(5, 136, 243);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

body > main > div > div.add-score > a:hover {
    background-color: rgb(0, 92, 167);
    transition: 0.3s ease-in-out;
}

#create-score-form,
#create-score-form > p {
    width: 100%;
}

#create-score-form > p {
    display: flex;
    justify-content: space-between;
}

#create-score-form > p > input,
#create-score-form > p > label,
#create-score-form > p > select {
    width: 50%;
}

#create-score-form > p:nth-child(2),
#create-score-form > p:nth-child(3) {
    background-color: blue;
    padding: 10px;
    color: white;
}

#create-score-form > p:nth-child(2) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#create-score-form > p:nth-child(3) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 25px;
}

#create-score-form > p:nth-child(4),
#create-score-form > p:nth-child(5) {
    background-color: rgb(0, 153, 255);
    padding: 10px;
}

#create-score-form > p:nth-child(4) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#create-score-form > p:nth-child(5) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 25px;
}

#create-score-form > p:nth-child(6) {
    margin-bottom: 15px;
}

.btn-primary {
    padding: 10px;
    width: 40%;
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: darkred;
    transition: 0.3s ease-in-out;
}
















/* MEDIA QUERIES */

@media (max-width: 490px) {

    main {
        top: 70px;
    }

    #mobile-nav.active { 
        display: block; 
        top: 74px;
        transition: 0.3s ease-in-out;
    }
    #menu-toggle {
        display: block;
    }

    nav ul { 
        display: none; 
    }


    .latest-results > table > thead > tr > th,
    .latest-results > table > tbody > tr > td {
        padding: 2px 5px;
    }

    .home-banner h1 {
        font-size: 3rem;
    }

    .home-banner p {
        font-size: 1.3rem;
    }

    .home-banner a {
        font-size: 1.3rem;
        padding: 10px;
    }


    /* Login / Registration Forms */
    #login-outer,
    .outer {
        min-width: 0px;
        width: 100%;
    }

    .form-container > h1 {
        font-size: 1.8rem;
    }

    .helptext {
        font-size: 0.8rem;
    }

    .profile-container,
    .edit-profile-container,
    .edit-profile-container > form {
        margin: 30px 0px 0px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-banner,
    .profile-info {
        width: 100%;
    }

    .profile-container {
        flex-direction: column;
    }

    .profile-banner {
        margin-right: 0;
    }

    .profile-info {
        margin-top: 25px;
    }

    .edit-profile-container > form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .edit-profile-info,
    .edit-profile-banner {
        width: 100%;
    }

    .edit-profile-banner {
        margin-bottom: 25px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-teams-buttons {
        padding: 15px;
        width: 85%;
    }

    .profile-teams-buttons > a {
        margin: 0px 5px;
        font-size: 1rem;
        padding: 5px;
    }

    #profile-team-container > .team-inner > strong {
        font-size: 1.2rem;
        width: 20%;
        min-height: 88px;
        margin-left: 2px;
    }

    #profile-team-container > .team-inner > a > span {
        font-size: 1.2rem;
    }

    #profile-team-container > .team-inner > a > img {
        height: 75px;
    }

    #leave-button {
        width: 40%;
        right: 160px;
    }

    #leave-button > a {
        font-size: 0.8rem;
        top: 143px;

    }

    #team-button,
    #team-button-2 {
        left: 20%;
    }

    .team-inner > a {
        padding: 7px;
        width: 80%;
        margin: 2px;
    }

    #team-container > div.profile-info > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #team-container > div.profile-info > ul > li {
        padding: 10px;
    }

    .outer-2 {
        width: 100%;
        padding: 35px 0px;
    }

    #create-team-form > p:nth-child(2) > input {
        margin-bottom: 10px;
    }

    #create-team-form > p,
    #create-team-form > div > label {
        font-size: 1rem;
    }

    #create-team-form > p:nth-child(2) > input {
        padding: 0;
        top: 1px;
    }

    .team-fixtures {
        width: 100%;
        padding: 20px 0;
    }
    
    .team-fixtures > h1 {
        font-size: 2rem;
    }

    .fixture-table {
        width: 100%;
    }

    .division-nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .division-nav > li {
        margin-bottom: 10px;
        width: 90%;
    }

    .title-text {
        font-size: 3rem;
    }
}



@media (max-width: 992px) and (min-width: 490px) { 
    main {
        top: 70px;
    }

    #mobile-nav.active { 
        display: block; 
        top: 74px;
        transition: 0.3s ease-in-out;
    }
    #menu-toggle {
        display: block;
    }

    nav ul { 
        display: none; 
    }

    /* Profile Pages */

    .profile-container {
        flex-direction: column;
    }

    .profile-banner,
    .profile-info {
        width: 100%;
    }

    .profile-info {
        margin-top: 25px;
    }

    .edit-profile-container > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .edit-profile-info,
    .edit-profile-banner {
        width: 100%;
    }

    .edit-profile-banner {
        margin-bottom: 25px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-container,
    .edit-profile-container {
        max-width: 100%;
        width: 70%;
        margin: 30px 0px 0px 0px;
    }

    .profile-teams-buttons {
        padding: 5px;
    }

    .profile-teams-buttons > a {
        font-size: 1.2rem;
        margin: 0 5px;
        padding: 10px;
    }


    #profile-team-container > .team-inner > strong {
        font-size: 1.5rem;
        width: 20%;
    }

    #profile-team-container > .team-inner > a > span {
        font-size: 1.5rem;
    }

    #profile-team-container > .team-inner > a > img {
        height: 75px;
    }

    #leave-button {
        width: 30%;
        left: 140px;
    }

    #leave-button > a {
        top: 172px;
    }

    #team-button,
    #team-button-2 {
        left: 25%;
    }

    .team-inner > a {
        padding: 7px;
        width: 80%;
    }

    .outer-2 {
        width: 90%;
    }

    #create-team-form > p,
    #create-team-form > div > label {
        font-size: 1rem;
    }

    #create-team-form > p:nth-child(2) > input {
        padding: 0;
        top: 1px;
    }

    .team-fixtures > h1 {
        font-size: 2.5rem;
    }

    .division-nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .division-nav > li {
        margin-bottom: 10px;
        width: 80%;
    }

    .title-text {
        font-size: 4rem;
    }
}