/* General Styling */

html, body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

main {
    position: relative;
    top: 80px;
    z-index: 1;
}

footer {
    position: relative;
    top: 80px;
}

:root {
    --erdpl-background: #0d1518; /* Black background color */
    --erdpl-text-primary: #f9f3e5; /* White text color */
    --erdpl-text-secondary: #ef6f28; /* Orange text color */
    --erdpl-text-tertiary: #236770; /* Blue text color */
    --erdpl-text-quaternary: #144a54; /* Green text color */
    --erdpl-color-green: #8BC34A; 
}













/* Navbar */

nav img {
    height: 70px;
}

header {
    background-color: var(--erdpl-background);
    color: var(--erdpl-text-primary);
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
}

header h2 {
    font-size: 2.2rem;
    margin-top: 15px;
    margin-left: 10px;
}

nav ul,
#user-links ul {
    display: flex;
    margin-right: 0px;
}

nav li,
#user-links li {
    background-color: var(--erdpl-background);
    margin-right: 0px;
    padding: 20px 10px 10px 10px;
    list-style: none;
    min-height: 80px;
    height: 100%;
    transition: ease-in-out 0.3s;
}

nav li:hover,
#user-links li:hover {
    background-color: var(--erdpl-text-quaternary);
    transition: ease-in-out 0.3s;
}

nav li a,
#user-links li a {
    text-decoration: none;
    color: var(--erdpl-text-primary);
    font-size: 1.2rem;
    padding: 10px;
}

.red-nav {
    background-color: rgb(112, 36, 1);
}

.red-nav:hover {
    background-color: rgb(179, 0, 0);
}

.left {
    border-bottom-left-radius: 15px;
}

.right {
    border-bottom-right-radius: 15px;
}

/* Mobile Nav */

#menu-toggle {
    display: none; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    scale: 1.2;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: white; 
}

#mobile-nav {
    display: none; 
    position: absolute;
    top: -100vh;
    width: 100%;
    position: fixed;
    transition: top 0.3s ease-in-out;
    right: 0;
    background-color: black; 
    width: 150px;
    text-align: center;
    border-bottom-left-radius: 25px;
}

#nav-edge {
    border-bottom-left-radius: 25px;
}

#mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 0;
}

#mobile-nav li {
    background-color: var(--erdpl-background);
    border-bottom: 1px solid var(--erdpl-text-secondary);
    border-left: 1px solid var(--erdpl-text-secondary);
    width: 100%;
}

#mobile-nav > ul > .no-border {
    border-bottom: none;
}

.mobile-active {
    border-bottom: 1px solid var(--erdpl-text-secondary);
}

.breaker span {
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: var(--erdpl-text-secondary);
}



















/* Main Content */

/* Home Page */

.home-banner {
    background-color: var(--erdpl-background);
    color: var(--erdpl-text-primary);
    padding: 150px 100px;
    text-align: left;
}


.home-banner > h1 > span,
.home-banner a > span {
    color: var(--erdpl-text-secondary);
}

.home-banner h1 {
    font-size: 4rem;
}

.home-banner p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.home-banner a {
    color: var(--erdpl-text-primary);
    transition: ease-in-out 0.3s;
    font-size: 1.5rem;
    background-color: var(--erdpl-text-quaternary);
    border-radius: 15px;
    border: 1px solid var(--erdpl-text-tertiary);
    padding: 10px;
    text-decoration: none;
}


.home-banner a:hover {
    background-color: var(--erdpl-text-tertiary);
    border: 1px solid var(--erdpl-text-quaternary);
    color: var(--erdpl-text-secondary);
    transition: ease-in-out 0.3s;
}

/* Results Tables */

.latest-results {
    text-align: center;
    background-color: var(--erdpl-text-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-results h1 {
    background-color: var(--erdpl-text-quaternary);
    color: var(--erdpl-text-primary);
    padding: 50px;
    width: 100%;
    font-size: 4rem;
    margin-bottom: 50px;
}

.latest-results > table {
    margin-bottom: 50px;
    background-color: var(--erdpl-background);
    border-radius: 25px;
    padding: 10px;
}

/* Creates borders on the tables automatically */

.latest-results > table > tbody > tr:first-child > td:first-child {
    border-top-left-radius: 15px;
}

.latest-results > table > tbody > tr:first-child > td:last-child {
    border-top-right-radius: 15px;
}

.latest-results > table > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 15px;
}

.latest-results > table > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 15px;
}

.latest-results > table > thead > tr > th,
.latest-results > table > tbody > tr > td {
    padding: 5px 20px;
    background-color: var(--erdpl-text-primary);
}

.latest-results > table > thead > tr > th {
    background-color: var(--erdpl-background);
    color: var(--erdpl-text-primary);
}













/* Footer */

footer {
    background-color: var(--erdpl-background);
    color: var(--erdpl-text-primary);
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.social-media li {
    display: inline-block;
    margin: 0 10px;
    background-color: var(--erdpl-text-quaternary);
    padding: 10px 15px;
    border-radius: 15px;
    transition: ease-in-out 0.3s;
}

.social-media li:hover {
    background-color: var(--erdpl-text-tertiary);
    transition: ease-in-out 0.3s;
}

.social-media a {
    color: var(--erdpl-text-primary);
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.social-media a:hover {
    color: var(--erdpl-text-secondary);
    transition: ease-in-out 0.3s;
}

.social-media i {
    font-size: 20px;
}
























/* Profile Pages */

.profile-container,
.edit-profile-container > form {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: var(--erdpl-text-secondary);
    margin: 50px;
    padding: 20px;
    border-radius: 25px;
    min-width: 80%;
}

.profile-banner,
.edit-profile-banner {
    background-color: rgba(0,0,0,0.7);
    padding: 25px;
    color: white;
    border-radius: 15px;
    width: 40%;
    margin-right: 25px;
    height: 450px;
}

.profile-info,
.edit-profile-info {
    text-align: center;
    background-color: var(--erdpl-text-primary);
    padding: 25px;
    border-radius: 15px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--erdpl-background);
}

.profile-banner img,
.edit-profile-banner img {
    border-radius: 50%;
    margin: 25px 0;
    max-height: 250px;
    max-width: 250px;
    height: 100%;
    width: 100%;
}

.profile-banner a {
    text-decoration: none;
    color: var(--erdpl-text-primary);
    background-color: var(--erdpl-text-tertiary);
    border-radius: 8px;
    border: 1px solid var(--erdpl-text-primary);
    padding: 8px;
    font-size: 1.2rem;
    transition: 0.2s ease-in-out;
}

.profile-banner a:hover {
    background-color: var(--erdpl-text-secondary);
    color: var(--erdpl-text-primary);
    transition: 0.2s ease-in-out;
}

.profile-banner h2 {
    background-color: var(--erdpl-background);
    color: var(--erdpl-text-primary);
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    font-size: 2.5rem;
    text-shadow: 1px 0px 5px darkred;
}

.edit-profile-container > form > .edit-profile-banner > h1 {
    background-color: var(--erdpl-background);
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
}



/* Logins & Registrations */


.form-container {
    background-color: var(--erdpl-text-primary);
    padding: 25px; 
    border-radius: 15px; 
    margin: 20px;
}

.outer {
    background-color: var(--erdpl-color-green);
    border-radius: 25px;
    margin: 50px;
}

.form-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container > form > div {
    text-align: right;
    margin-top: 10px;
    background-color: var(--erdpl-text-tertiary);
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgb(175, 175, 175);
    color: var(--erdpl-text-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container > h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.form-container > form > button {
    margin-top: 25px;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: rgb(240, 240, 240);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.edit-profile-container > form > .edit-profile-info > button {
    margin-top: 25px;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: rgb(240, 240, 240);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.edit-profile-container > form > .edit-profile-info > button:hover {
    background-color: var(--erdpl-text-secondary);
    transition: 0.3s ease-in-out;
}

#id_profile_picture {
    border: none;
}

.form-submit:hover {
    background-color: var(--erdpl-text-secondary);
    transition: 0.3s ease-in-out;
}

.form-container > form > div > input,
.edit-profile-container > form > .edit-profile-info > input,
.edit-profile-container > form > .edit-profile-banner > input,
.edit-profile-container > form > .edit-profile-info > textarea {
    padding: 5px 0px;
    border-radius: 5px;
    max-width: 250px;
    width: 100%;
    border: 2px solid black;
}

.form-container > form > div > label,
.edit-profile-container > form > .edit-profile-banner > label,
.edit-profile-container > form > .edit-profile-info > label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
}

.form-container > form > ul > li {
    width: 300px;
    list-style: none;
    background-color: var(--erdpl-text-secondary);
    color: var(--erdpl-text-primary);
    border-radius: 5px;
    padding: 5px;
    border: 2px solid darkred;
}

.helptext {
    margin: 10px;
    background-color: blue;
    color: var(--erdpl-text-primary);
    border: 1px solid rgb(0, 191, 255);
    padding: 8px;
    border-radius: 8px;
}

#id_password1_helptext {
    padding-left: 25px;
    text-align: left;
}

#login-outer {
    min-width: 400px;
}

#login-center,
.profile-center {
    height: 120vh;
}





































/* MEDIA QUERIES */

@media (max-width: 490px) {
    .latest-results > table > thead > tr > th,
    .latest-results > table > tbody > tr > td {
        padding: 2px 5px;
    }

    .home-banner h1 {
        font-size: 3rem;
    }

    .home-banner p {
        font-size: 1.3rem;
    }

    .home-banner a {
        font-size: 1.3rem;
        padding: 10px;
    }


    /* Login / Registration Forms */
    #login-outer,
    .outer {
        min-width: 0px;
        width: 100%;
    }

    .form-container > h1 {
        font-size: 1.8rem;
    }

    .helptext {
        font-size: 0.8rem;
    }

    .profile-container,
    .edit-profile-container > form {
        margin: 30px 0;
    }

}

@media (max-width: 992px) { 
    main,
    footer {
        top: 70px;
    }

    #mobile-nav.active { 
        display: block; 
        top: 70px;
        transition: 0.3s ease-in-out;
    }
    #menu-toggle {
        display: block;
    }

    nav ul { 
        display: none; 
    }

    /* Profile Pages */

    .profile-container {
        flex-direction: column;
    }

    .profile-banner,
    .profile-info {
        width: 100%;
    }

    .profile-info {
        margin-top: 25px;
    }

    .edit-profile-container > form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .edit-profile-info,
    .edit-profile-banner {
        width: 100%;
    }

    .edit-profile-banner {
        margin-bottom: 25px;
        margin-right: 0px;
    }
}