{% extends 'layout.html' %}

{% block title %}
    Edit Team
{% endblock %}

{% block content %}
    <div class="center">
        <h1 class="title-text">EDIT TEAM</h1>
        <div class="match-options" id="back-1" style='margin-top: 50px;'>
            <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left"></i> Back</a>
        </div>
        <div class="profile-container" id='team-container'>
                <div class="profile-banner">
                    <h2>Edit Team Information</h2>
                    <form method="post" enctype="multipart/form-data" id='team-form'> 
                        {% csrf_token %}
                        <label for="id_team_image">Team Picture:</label>
                        {% if team.team_image %}
                            <img src="{{ team.team_image.url }}" alt="Current Team Picture" id='edit-team-image'> 
                        {% else %}
                            <img src="../../../../media/team_default.png" alt="Current Team Picture" id='edit-team-image'>
                        {% endif %}
                        {{ form.as_p }} 
                        <button type="submit">Save Changes</button>
                    </form>
                </div>
                <div class="profile-info">
                    <h3>Team Members:</h3>
                    <ul>
                        {% for member in team.members.all %}
                            <li>
                                <a href="{% if member.user %}{% url 'users:profile' username=member.user.username %}{% else %}{% endif %}">
                                    <img src="{% if member.user.profile_picture %}{{ member.user.profile_picture.url }}{% else %}{{ MEDIA_URL }}profile_default.jpeg{% endif %}" alt="{{ member.user.username }} Profile Picture" class="profile-image">
                                    <span>{{ member.user.username }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
    </div>
{% endblock %}