{% extends 'layout.html' %}

{% block title %}
    Edit Team
{% endblock %}

{% block content %}
    <div class="center">
        <div class="outer">
            <div class="form-container">
                <h2>Edit Team Information</h2>
                <form method="post" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <label for="id_team_image">Team Picture:</label>
                    {% if team.team_image %}
                        <img src="{{ team.team_image.url }}" alt="Current Team Picture" id='edit-team-image'> 
                    {% else %}
                        <img src="../../../../media/team_default.png" alt="Current Team Picture" id='edit-team-image'>
                    {% endif %}
                    {{ form.as_p }} 
                    <button type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}