{% extends 'layout.html' %}

{% block title %}
    Edit Team Members
{% endblock %}

{% block content %}
    <div class="center">
        <h1 class="title-text">EDIT MEMBERS</h1>
        <div class="match-options" style='margin-top: 50px;'>
            <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left"></i> Back</a>
        </div>
        <div class="profile-container" id='team-container'>
            <div class="profile-banner">
                <h2>{{ team.name }}</h2>
                {% if team.team_image %}
                    <img src="{{ team.team_image.url }}" alt="{{ team.name }} Image" class="team-profile-image">
                {% else %}
                    <img src="{{ MEDIA_URL }}team_default.png" alt="Blank Team Photo" class="team-profile-image">
                {% endif %}

                <p><strong>Captain:</strong><a href="{% url 'users:profile' username=team.captain.username %}"> {{ team.captain.username }}</a></p>
                <p><strong>Division:</strong> {{ team.division.name }}</p>
                <p><strong>Location:</strong> {{ team.location }}</p>
                <p><strong>Bio:</strong> {{ team.bio }}</p>
            </div>
            <div class="profile-info">
                <h2 class='m-top'>Edit Team Members</h2>

                <h3>Current Team Members</h3>
                <ul id='edit-team-members'>
                    {% for member in team.members.all %}
                        <li>
                            <a href="{% url 'users:profile' username=member.username %}">
                                <img src="{% if member.profile.profile_picture %}{{ member.profile.profile_picture.url }}{% else %}{{ MEDIA_URL }}profile_default.jpeg{% endif %}" alt="{{ member.username }} Profile Picture" class="profile-image">
                                <span>{{ member.username }}</span>
                            </a>
                            <form method="post" action="{% url 'teams:remove_team_member' team_name=team.name member_id=member.id %}">
                                {% csrf_token %}
                                <button type="submit">DEL</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>

                <h3>Add New Members</h3>
                <form method="post" id='add-members'>
                    {% csrf_token %}
                    <select name="new_members" multiple>
                        {% for user in available_users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Add Selected Members</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}