{% extends 'layout.html' %}

{% block title %}
    {{ team.name }}
{% endblock %}

{% block content %}
    <div class="center profile-center">
        <div class="profile-container" id='team-container'>
            <div class="profile-banner">
                <h2>{{ team.name }}</h2>
                {% if team.team_image %}
                    <img src="{{ team.team_image.url }}" alt="{{ team.name }} Image" class="team-profile-image">
                {% else %}
                    <img src="../../../media/team_default.png" alt="Blank Team Photo" class="team-profile-image">
                {% endif %}

                <p><strong>Captain:</strong><a href="{% url 'users:profile' username=team.captain.username %}"> {{ team.captain.username }}</a></p>
                <p><strong>Division:</strong> {{ team.division.name }}</p>
                <p><strong>Location:</strong> {{ team.location }}</p>
                <p><strong>Bio:</strong> {{ team.bio }}</p>
            </div>
            <div class="profile-info">
                <h3>Team Members:</h3>
                <ul>
                    {% for member in team.members.all %}
                        <li>
                            <a href="{% url 'users:profile' username=member.username %}">
                                <img src="{% if member.profile.profile_picture %}{{ member.profile.profile_picture.url }}{% else %}../../../media/profile_default.jpeg{% endif %}" alt="{{ member.username }} Profile Picture" class="profile-image">
                                <span>{{ member.username }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if request.user in team.members.all and request.user != team.captain %}
            <div id='team-button'><a href="{% url 'teams:leave' team_name=team.name %}">Leave Team</a></div>
        {% endif %}
        {% if request.user not in team.members.all %}
            <div id='team-button-2'><a href="{% url 'teams:join' team_id=team.id %}">Join Team</a></div>
        {% endif %}

        {% if request.user == team.captain %}
            <div class="profile-teams-buttons left right">
                <a href="{% url 'teams:edit_team' team_name=team.name %}">Edit Team Info</a>
                <a href="{% url 'teams:edit_team_members' team_name=team.name %}">Edit Team Members</a>
                <a href="#">Delete Team</a>
            </div>
        {% endif %}
        <div class="team-fixtures" id="team-scores"> {## Add a container for scores #}
            <h1>{{ team.name }}: Scores</h1>
            <table class="fixture-table"> {## You can reuse the fixture-table class #}
                <thead class="fixture-head">
                    <tr class="fixture-row">
                        <th>Date</th>
                        <th>Home Team</th>
                        <th>Home Score</th>
                        <th>(9)</th>
                        <th>Away Score</th>
                        <th>Away Team</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for score in team_scores %}
                        <tr>
                            <td>{{ score.date }}</td>
                            <td><a href="{% url 'teams:detail' team_name=score.home_team.name %}">{{ score.home_team.name }}</a></td>
                            <td class="home-score">{{ score.home_score }}</td>
                            <td>V</td>
                            <td class="away-score">{{ score.away_score }}</td>
                            <td><a href="{% url 'teams:detail' team_name=score.away_team.name %}">{{ score.away_team.name }}</a></td>
                            <td><a href="#">VIEW</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="team-fixtures">
            <h1>{{ team.name }}: Fixtures</h1>
            <table class="fixture-table">
                <thead class="fixture-head">
                    <tr class="fixture-row">
                        <th>Date</th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>DETAILS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fixture in team_fixtures|dictsort:'date' %}
                    <tr>
                        <td>{{ fixture.date }}</td>
                        {% if fixture.home_team == 'X' %}
                            <td>{{ fixture.home_team }}</td>
                        {% else %}
                            <td><a href="{% url 'teams:detail' team_name=fixture.home_team %}">{{ fixture.home_team }}</a></td>
                        {% endif %}
                        {% if fixture.away_team == 'X' %}
                            <td>{{ fixture.away_team }}</td>
                        {% else %}
                            <td><a href="{% url 'teams:detail' team_name=fixture.away_team %}">{{ fixture.away_team }}</a></td>
                        {% endif %}
                        {% if fixture.home_team == 'X' %}
                            <td></td>
                        {% elif fixture.away_team == 'X' %}
                            <td></td>
                        {% else %}
                            <td><a href="#">VIEW</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}