{% extends 'layout.html' %}

{% block title %}Live Match{% endblock %}

{% block content %}
<div class="center">
  <h1 class="title-text">LIVE MATCH</h1>
  <div class="outer-2" id='live-mode'>
    <div class="match-images">
      <div class="match-image">
          {% if home_team.image %}
                  <img src="{{ home_team.image.url }}" alt="{{ home_team.name }}" class="match-profile-image">
          {% else %}
                  <img src="{{ MEDIA_URL }}team_default.png" alt="Blank Team Photo" class="match-profile-image">
          {% endif %}
      </div>
      <div class="match-image">
          {% if away_team.image %}
                  <img src="{{ away_team.image.url }}" alt="{{ away_team.name }}" class="match-profile-image">
          {% else %}
                  <img src="{{ MEDIA_URL }}team_default.png" alt="Blank Team Photo" class="match-profile-image">
          {% endif %}
      </div>
    </div>
    <h2>{{ match.home_team }} vs {{ match.away_team }}</h2>
    <h2>Score: {{ match.home_score }} - {{ match.away_score }}</h2>



    <table class="liveTable">
      <thead>
        <tr>
          <th>Game</th>
          <th>Home Player</th>
          <th></th>
          <th></th>
          <th></th>
          <th>Away Player</th>
        </tr>
      </thead>
      <tbody>
        {% for score in scores %}
        <tr id="player-score">
          <td>{{ forloop.counter }}</td>
          <td>{{ score.home_player.name }}</td>
          {% if not score.home_or_away_win %}
            <td>
              <button class="win-button" data-score-id="{{ score.id }}" data-winner="home">WIN</button>
            </td>
            <td>VS</td>
            <td>
              <button class="win-button" data-score-id="{{ score.id }}" data-winner="away">WIN</button>
            </td>
          {% elif score.home_or_away_win == "home" %}
            <td><strong>1</strong></td>
            <td>VS</td>
            <td>0</td>
          {% else %}
            <td>0</td>
            <td>VS</td>
            <td><strong>1</strong></td>
          {% endif %}
          <td>{{ score.away_player.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if match.home_score >= 5 %}
        <h2 class="winning-title">{{ match.home_team }} Won The Match!</h2>
    {% elif match.away_score >= 5 %}
        <h2 class="winning-title">{{ match.away_team }} Won The Match!</h2>
    {% else %}
        <h2 class="winning-title">Match in play...</h2>
    {% endif %}
  </div>
</div>

<script>
    const matchDivisionName = '{{ match.division.name }}';
    const matchId = '{{ match.id }}';
    const winButtons = document.querySelectorAll('.win-button');
    const playerScores = document.querySelectorAll('#player-score');

    playerScores.forEach(playerScore => {
      const winStatusCell = playerScore.querySelector('td:nth-child(3)');
      const loseStatusCell = playerScore.querySelector('td:nth-child(5)');

      if ((winStatusCell.textContent.trim() === "1" || winStatusCell.textContent.trim() === "0") && (loseStatusCell.textContent.trim() === "1" || loseStatusCell.textContent.trim() === "0")) {
          const tds = playerScore.querySelectorAll('td');
          const homePlayerCell = playerScore.querySelector('td:nth-child(2)'); // Get Home Player cell
          const awayPlayerCell = playerScore.querySelector('td:nth-child(6)'); // Get Away Player cell

          tds.forEach((td, index) => {
              if (index !== 0) {
                  td.classList.add('player-done');
              }
          });

          // Add 'player-won' class based on who won
          if (winStatusCell.textContent.trim() === "1") {
              homePlayerCell.classList.add('player-won');
          } else if (loseStatusCell.textContent.trim() === "1") {
              awayPlayerCell.classList.add('player-won');
          }
      }
  });
  winButtons.forEach(button => {
    button.addEventListener('click', () => {
      const scoreId = button.dataset.scoreId;
      const winner = button.dataset.winner;

      // Send AJAX request to update the score
      fetch(`/scores/${matchDivisionName}/scores/${matchId}/${scoreId}/update_score/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: new URLSearchParams({
          'winner': winner
        })
      })
      .then(response => {
        if (response.ok) {
          // Update the UI or display a success message
          console.log('Score updated successfully!');
          location.reload();
        } else {
          console.error('Failed to update score.');
        }
      })
      .catch(error => {
          console.error('Error updating score:', error);
      });
    });
  });
</script>
{% endblock %}