{% extends 'layout.html' %}

{% block title %}Match Details{% endblock %}

{% block content %}
<div class="center">
    <h1 class="title-text">DETAILS</h1>
    <div class="match-options">
        <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left"></i> Back</a>
    </div>
    <div class="outer-2" id='match-outer'>
        <div id='match-details'>
            <div class="match-images">
                <div class="match-image">
                    {% if match.home_team.team_image %}
                            <img src="{{ match.home_team.team_image.url }}" alt="{{ home_team.name }}" class="match-profile-image">
                    {% else %}
                            <img src="{{ MEDIA_URL }}team_default.png" alt="Blank Team Photo" class="match-profile-image">
                    {% endif %}
                </div>
                {% if match.home_score >= 5 %}
                    <div class="match-status">
                        <h2>{{ match.home_team }} Win!</h2>
                    </div>
                {% elif match.away_score >= 5 %}
                    <div class="match-status">
                        <h2>{{ match.away_team }} Win!</h2>
                    </div>
                {% else %}
                    <div class="match-status">
                        <h2 class='live-title'><i class="fa-solid fa-record-vinyl pulse"></i> LIVE</h2>
                    </div>
                {% endif %}
                <div class="match-image">
                    {% if match.away_team.team_image %}
                            <img src="{{ match.away_team.team_image.url }}" alt="{{ away_team.name }}" class="match-profile-image">
                    {% else %}
                            <img src="{{ MEDIA_URL }}team_default.png" alt="Blank Team Photo" class="match-profile-image">
                    {% endif %}
                </div>
            </div>
            <h1 id='match-score'>{{ match.home_score }} VS {{ match.away_score }} </h1>
            <div class="match-teams">
                <h1><a href="{% url 'teams:detail' team_name=home_team.name %}">{{ match.home_team }}</a></h1>
                <h1><a href="{% url 'teams:detail' team_name=away_team.name %}">{{ match.away_team }}</a></h1>
            </div>
        </div>
        <div class="match-extra-info">
            <h2 class="match-extra-h2">{{ match.division.name }}</h2>
            {% if scores %}
                <div id='match-games'>
                    <table class="match-games-table">
                        <thead>
                          <tr>
                            <th>G</th>
                            <th>Home Player</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Away Player</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for score in scores %}
                          <tr id="player-score">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ score.home_player.name }}</td>
                            {% if score.home_or_away_win == "home" %}
                              <td><strong>1</strong></td>
                              <td>VS</td>
                              <td>0</td>
                            {% elif score.home_or_away_win == "away" %}
                              <td>0</td>
                              <td>VS</td>
                              <td><strong>1</strong></td>
                            {% else %}
                                <td>0</td>
                                <td>VS</td>
                                <td>0</td>
                            {% endif %}
                            <td>{{ score.away_player.name }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
            {% endif %}
            <h3 class="match-extra-h3">Played at {{ home_team.location }}</h3>
            <h3 class="match-extra-h3">Date played:<br>{{ match.date }}</h3>
        </div>
    </div>
</div>
{% endblock %}