{% extends 'layout.html' %}

{% block title %}
    Scores: {{ division_name|default:"All Divisions" }} 
{% endblock %}

{% block content %}
    <div class="center">
        <h1 class='title-text' style='text-transform: uppercase;'>{{ division_name }} Scores</h1>
        <div class="outer-2" id='division-links'>
            <ul class="division-nav">
                {% for div in all_divisions %} 
                    <li><a href="{% url 'scores:view_scores' division_name=div.name %}">{{ div.name }}</a></li>
                {% endfor %}
                {% if request.user.is_superuser  %}
                    <li><a href="{% url 'tournaments:tournament_view' tournament_name='EDPL Test Cup Game' %}">EDPL Test Cup Game</a></li>
                {% endif %}
            </ul>
        </div>
        {% if request.user.is_superuser %}
            <div class="add-score">
                <a href="{% url 'scores:add_match_score' %}">Add Match Score</a>
                <a href="{% url 'scores:create_score' %}" id='live-match-button'><i class="fa-solid fa-record-vinyl"></i>Live Mode</a>
            </div>
        {% endif %}
        <div
            class="outer-2 
                {% if division_name == 'Premier Division' %}
                premier
                {% elif division_name == 'Division 1' %}
                div1
                {% elif division_name == 'Division 2' %}
                div2
                {% endif %}
                "
            id="scores-container"
        >
            <h1>{{ division_name|default:"All Divisions" }} Scores</h1> 
            <table class="fixture-table">
                <thead class="fixture-head">
                    <tr class="fixture-row">
                        <th>Date</th>
                        <th>Home Team</th>
                        <th>H<span>ome Score</span></th>
                        <th>(9)</th>
                        <th>A<span>way Score</span></th>
                        <th>Away Team</th>
                        <th></th> 
                    </tr>
                </thead>
                <tbody>
                    {% for match in matches %}
                        <tr>
                            <td>{{ match.date }}</td>
                            <td><a href="{% url 'teams:detail' team_name=match.home_team.name %}">{{ match.home_team }}</a></td> 
                            <td class='home-score'>{{ match.home_score }}</td>
                            <td>V</td>
                            <td class="away-score">{{ match.away_score }}</td>
                            <td><a href="{% url 'teams:detail' team_name=match.away_team.name %}">{{ match.away_team }}</a></td>
                            <td><a href="{% url 'scores:match_details' division_name=match.division.name match_id=match.id %}">VIEW</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}