{% extends 'layout.html' %}

{% block title%}
    Profile
{% endblock %}

{% block content %}
    <div class="center profile-center">
        <div class="profile-container">
            <div class="profile-banner">
                <h2>{{ profile.user.username }}</h2>

                {% if profile.profile_picture %}
                    <img src="{{ profile.profile_picture.url }}" alt="Current Profile Picture">
                {% else %}
                <img src="../../../media/profile_default.jpeg">
                {% endif %}
                <br>
                {% if request.user == profile.user %}
                    <a href="{% url 'users:edit_profile' username=profile.user.username %}">Edit Profile</a>
                {% endif %}
            </div>
            <div class="profile-info">
                <p><strong>Full Name:</strong> {{ profile.fullname }}</p>
                <p><strong>Phone:</strong> {{ profile.phone_number }}</p>
                <p><strong>Bio:</strong> {{ profile.bio }}</p>
            </div>
        </div>
        {% if request.user == profile.user %}
        <div class="profile-teams-buttons left right">
            <a href="#">Join Team</a>
            <a href="#">Create Team</a>
            <a href="#">Leave Team</a>
        </div>
        {% endif %}
    </div>
{% endblock %}