{% extends 'layout.html' %}

{% block title %}
  Contact
{% endblock %}

{% block content %}
  <div class="center">
    <h1 class="title-text" style='text-transform: uppercase;'>Contact</h1>
    <div class="contact-info">
      <h2>For any queries or support:</h2>
      <ul>
        <li><span>Contact:</span> League Secretary TC</li>
        <li>
          <span>Phone:</span> <a href="tel:07932 949036">07932 949036</a>
        </li>
        <li>
            <span>Email:</span> <a href="mailto:tc_edpl@hotmail.com">tc_edpl@hotmail.com</a>
        </li>
        <li>
            <span>Facebook:</span> <a href="https://www.facebook.com/profile.php?id=100090999571220">EDPL Pool League</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
