{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="home-banner">
        <div class="banner">
            <h1>
                <span>Erdington</span> & District Pool League<p>EST:- 1976</p>
            </h1>
        </div>
        <a href="#leaderboards"><i class="fa-solid fa-arrow-down"></i></a>
        <div class="register-button">
            <a href="{% url 'users:register' %}">Register <span> from Today!</span></a>
        </div>
    </div>
    <i id='leaderboards' style='position:absolute; top: 90vh;'> </i>
    <div class="latest-results">
        <h1>LEADERBOARDS</h1>

        {% for division in all_divisions %}
            <h2>{{ division.name }}</h2>
            <table class="mobile-table">
                <thead>
                    <tr>
                        <th class="mobile-header">Pos</th> 
                        <th class="mobile-header">Name</th>
                        <th class="mobile-header">P</th> 
                        <th class="mobile-header">W</th> 
                        <th class="mobile-header">L</th> 
                        <th class="mobile-header">F</th> 
                        <th class="mobile-header">A</th> 
                        <th class="mobile-header">BP</th>
                        <th class="mobile-header">PTS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for standing in division.leaderboard %}
                        {% if standing.team.name == 'X' %}
                        {% else %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'teams:detail' team_name=standing.team.name %}">{{ standing.team.name }}</a></td>
                                <td>{{ standing.played }}</td>
                                <td>{{ standing.wins }}</td>
                                <td>{{ standing.losses }}</td>
                                <td>{{ standing.frames_won }}</td>
                                <td>{{ standing.frames_lost }}</td>
                                <td>{{ standing.bonus_points }}</td>
                                <td>{{ standing.points }}</td>
                            </tr>
                        {%endif%}
                    {% endfor %}
                </tbody>
            </table>
            <table class="table"> 
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Lost</th>
                        <th>Frames Won</th>
                        <th>Frames Lost</th>
                        <th>Bonus Points</th>
                        <th>Total Points</th>
                    </tr>
                </thead>
                <tbody>
                {% for standing in division.leaderboard %} 
                    {% if standing.team.name == 'X' %}
                    {% else %}
                        <tr>
                            <td>{{ forloop.counter }}</td>  {# Display the position #}
                            <td><a href="{% url 'teams:detail' team_name=standing.team.name %}">{{ standing.team.name }}</a></td>
                            <td>{{ standing.played }}</td>  {# You'll need to calculate this #}
                            <td>{{ standing.wins }}</td>
                            <td>{{ standing.losses }}</td>
                            <td>{{ standing.frames_won }}</td>  {# You'll need to calculate this #}
                            <td>{{ standing.frames_lost }}</td>  {# You'll need to calculate this #}
                            <td>{{ standing.bonus_points }}</td>  {# You'll need to calculate this #}
                            <td>{{ standing.frames_won|add:standing.bonus_points }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        <h4 id="about">
        <br><br><br><br>
    </div>
    <div class="about">
        <h1>ABOUT</h1>
        <div class="about-container">
            <div class="about-info">
                <h2>Erdington & District Pool League</h2>
                <br>
                <p>North Birmingham based pool league, hosting leagues and tournaments in 8-Ball Pool across the region.</p>
            </div>
            <div class="about-info">
                <h2>About this website:</h2>
                <br>
                <p>
                    The EDPL Website is a new platform designed to enhance your pool experience! Currently, you can view league fixtures, scores, and leaderboards, keeping you up-to-date on the latest action. But that's just the beginning! By Spring / Summer 2025, we have exciting plans to expand the website's functionality:
                    <br>
                    <ul>
                        <br>
                        <li><strong>Team Management:</strong> Teams will be able to add their own scores directly, ensuring quicker updates and more accurate leaderboards.</li>
                        <br>
                        <li><strong>Player Sign-Ups:</strong>  Current and new players can sign up individually and join teams (pending captain approval). New teams can also easily register and join the league.</li>
                        <br>
                        <li><strong>Cup Games:</strong> Results for cup games will be added, providing a complete picture of the EDPL cup games that take place.</li>
                        <br>
                        <li><strong>Individual Player Stats:</strong>  We're looking to add features to track individual player results, including wins, losses, win-to-loss ratios, and even individual player leaderboards! </li>
                        <br>
                    </ul>
                    <br>
                    The EDPL Website is committed to growth and providing the best possible resource for our players and fans. Stay tuned for these exciting updates!
                </p>
            </div>
        </div>
    </div>
{% endblock %}