<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c15e7f6444.js" crossorigin="anonymous"></script>
    <link rel ="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
</head>
<body>
    <header id="header" class="">
        <nav>
            <a href="{% url 'home' %}"><img class="logo" src="{% get_media_prefix %}logo-new3.png" alt="ErdPL"></a>
            <ul>
                <li class="left right"><a href="/">Home</a></li>
                <li class="red-nav left"><a href="{% url 'scores:view_scores' division_name='Premier Division' %}">Scores</a></li>
                <li class="red-nav right"><a href="{% url 'fixtures:fixtures_by_division' division_name='Premier Division' %}">Fixtures</a></li>
                <li class="left right"><a href="/contact">Contact</a></li>
            </ul>
            <ul id="user-links">
                {% if user.is_authenticated %}
                    <li class="left"><a href="{% url 'users:logout' %}">Logout</a></li>
                    <li><a href="{% url 'users:profile' username=user.username %}">Profile</a></li>
                    {% if user.teams.exists %} 
                        <li><a href="{% url 'teams:detail' team_name=user.teams.first.name %}">Team</a></li> 
                    {% endif %} 
                {% else %}
                    <li class="left"><a href="{% url 'users:login' %}">Login</a></li>
                    <li><a href="{% url 'users:register' %}">Register</a></li>
                {% endif %}
            </ul>
            <div id="menu-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div> 
            <div id="mobile-nav"> 
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="red-nav"><a href="{% url 'scores:view_scores' division_name='Premier Division' %}">Scores</a></li>
                    <li class="red-nav"><a href="{% url 'fixtures:fixtures_by_division' division_name='Premier Division' %}">Fixtures</a></li>
                    <li class="no-border"><a href="/contact">Contact</a></li>
                    <li class="breaker no-border"><span class="bar"></span></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'users:profile' username=user.username %}">Profile</a></li>
                        {% if user.teams.exists %} 
                            <li><a href="{% url 'teams:detail' team_name=user.teams.first.name %}">Team</a></li> 
                        {% endif %} 
                        <li id="nav-edge"><a href="{% url 'users:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'users:login' %}">Login</a></li>
                        <li id="nav-edge"><a href="{% url 'users:register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main>
    {% block content %}

    {% endblock %}
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2025 EDPL. All rights reserved.</p>
            <ul class="social-media">
                <li><a href="https://www.facebook.com/profile.php?id=100090999571220" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
    {% block script %}

    {% endblock %}
</body>
</html>