<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c15e7f6444.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
</head>
<body>
    <header id="header" class="">
        <nav>
            {% comment %} <h2>ErdPL</h2> {% endcomment %}
            <img class="logo" src="../media/logo.jpeg" alt="ErdPL">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Scores</a></li>
                <li><a href="/">Fixtures</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul id="user-links">
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
            </ul>
            <div id="menu-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div> 
            <div id="mobile-nav"> 
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="red-nav"><a href="/">Scores</a></li>
                    <li class="red-nav"><a href="/">Fixtures</a></li>
                    <li class="no-border"><a href="/contact">Contact</a></li>
                    <li class="breaker no-border"><span class="bar"></span></li>
                    <li><a href="">Login</a></li>
                    <li id="nav-edge"><a href="">Register</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
    {% block content %}

    {% endblock %}
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 ErdPL. All rights reserved.</p>
            <ul class="social-media">
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>